// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner {
  margin: 20px;
  padding: 10px;
  background: white;
  border-style: none none none solid;
  border-width: 5px;
  border-color: gray;
};

.active {
  background: lightyellow;
}

a {
  margin: 20px;
  text-decoration: none;
  color: rgb(26, 26, 107);
  &:hover {
    color: black;
  }
}

.author {
    font-style: italic;
}

.bold {
  font-weight: bolder;;
}